In [2]:
import pandas as pd
datos = pd.read_csv("data.txt", delimiter=",")
print(datos.head)

<bound method NDFrame.head of            date   quarter  department        day  team  targeted_productivity  \
0      1/1/2015  Quarter1      sweing   Thursday     8                   0.80
1      1/1/2015  Quarter1  finishing    Thursday     1                   0.75
2      1/1/2015  Quarter1      sweing   Thursday    11                   0.80
3      1/1/2015  Quarter1      sweing   Thursday    12                   0.80
4      1/1/2015  Quarter1      sweing   Thursday     6                   0.80
...         ...       ...         ...        ...   ...                    ...
1192  3/11/2015  Quarter2   finishing  Wednesday    10                   0.75
1193  3/11/2015  Quarter2   finishing  Wednesday     8                   0.70
1194  3/11/2015  Quarter2   finishing  Wednesday     7                   0.65
1195  3/11/2015  Quarter2   finishing  Wednesday     9                   0.75
1196  3/11/2015  Quarter2   finishing  Wednesday     6                   0.70

        smv     wip  over_time  incentive  idle_time  idle_men  \
0     26.16  1108.0       7080         98        0.0         0
1      3.94     NaN        960          0        0.0         0
2     11.41   968.0       3660         50        0.0         0
3     11.41   968.0       3660         50        0.0         0
4     25.90  1170.0       1920         50        0.0         0
...     ...     ...        ...        ...        ...       ...
1192   2.90     NaN        960          0        0.0         0
1193   3.90     NaN        960          0        0.0         0
1194   3.90     NaN        960          0        0.0         0
1195   2.90     NaN       1800          0        0.0         0
1196   2.90     NaN        720          0        0.0         0

      no_of_style_change  no_of_workers  actual_productivity
0                      0           59.0             0.940725
1                      0            8.0             0.886500
2                      0           30.5             0.800570
3                      0           30.5             0.800570
4                      0           56.0             0.800382
...                  ...            ...                  ...
1192                   0            8.0             0.628333
1193                   0            8.0             0.625625
1194                   0            8.0             0.625625
1195                   0           15.0             0.505889
1196                   0            6.0             0.394722

[1197 rows x 15 columns]>

C:\Users\LORE\AppData\Local\Temp\ipykernel_11540\3167126062.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
#Información 
datos.dtypes

date                      object
quarter                   object
department                object
day                       object
team                       int64
targeted_productivity    float64
smv                      float64
wip                      float64
over_time                  int64
incentive                  int64
idle_time                float64
idle_men                   int64
no_of_style_change         int64
no_of_workers            float64
actual_productivity      float64
dtype: object

In [4]:
#Mirar los valores faltantes 
print(datos.notnull().mean())

date                     1.000000
quarter                  1.000000
department               1.000000
day                      1.000000
team                     1.000000
targeted_productivity    1.000000
smv                      1.000000
wip                      0.577277
over_time                1.000000
incentive                1.000000
idle_time                1.000000
idle_men                 1.000000
no_of_style_change       1.000000
no_of_workers            1.000000
actual_productivity      1.000000
dtype: float64

In [5]:
#Llenar eso datos c
datos.loc[datos['wip'].isnull(),'wip'] = datos.describe()['wip']['mean']

In [6]:
#Comprobar que se llenaron los datos
print(datos.notnull().mean())

date                     1.0
quarter                  1.0
department               1.0
day                      1.0
team                     1.0
targeted_productivity    1.0
smv                      1.0
wip                      1.0
over_time                1.0
incentive                1.0
idle_time                1.0
idle_men                 1.0
no_of_style_change       1.0
no_of_workers            1.0
actual_productivity      1.0
dtype: float64

In [7]:
#Mirar los nuevos datos
datos.describe()

,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
count,1197.000000,1197.000000,1197.000000,1197.000000,1197.000000,1197.000000,1197.000000,1197.000000,1197.000000,1197.000000,1197.000000
mean,6.426901,0.729632,15.062172,1190.465991,4567.460317,38.210526,0.730159,0.369256,0.150376,34.609858,0.735091
std,3.463963,0.097891,10.943219,1395.647261,3348.823563,160.182643,12.709757,3.268987,0.427848,22.197687,0.174488
min,1.000000,0.070000,2.900000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.233705
25%,3.000000,0.700000,3.940000,970.000000,1440.000000,0.000000,0.000000,0.000000,0.000000,9.000000,0.650307
50%,6.000000,0.750000,15.260000,1190.465991,3960.000000,0.000000,0.000000,0.000000,0.000000,34.000000,0.773333
75%,9.000000,0.800000,24.260000,1190.465991,6960.000000,50.000000,0.000000,0.000000,0.000000,57.000000,0.850253
max,12.000000,0.800000,54.560000,23122.000000,25920.000000,3600.000000,300.000000,45.000000,2.000000,89.000000,1.120437

In [14]:
#Mirar que actual_productivity no tenga valores mayores a 1 y si los tiene que tomen valor de 1 
datos["actual_productivity"]=datos["actual_productivity"].clip(upper=1)
#Mirar over time los valores atipicos por las graficas que hicimos antes 
Q1 = datos["over_time"].quantile(0.25)
Q3 = datos["over_time"].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Identificar valores atípicos
valores_atipicos = (datos['over_time'] < lower_bound) | (datos['over_time'] > upper_bound)

# Mostrar los valores atípicos
print("Valores atípicos en la columna 'over_time':")
print(datos[valores_atipicos])

#Cambiar el valor atipico por la media de la columna 
media_over_time = datos["over_time"].mean()
datos.loc[146, "over_time"] = media_over_time

Valores atípicos en la columna 'over_time':
         date   quarter department       day  team  targeted_productivity  \
146  1/8/2015  Quarter2     sweing  Thursday    11                   0.35

       smv    wip  over_time  incentive  idle_time  idle_men  \
146  12.52  287.0      25920         38        0.0         0

     no_of_style_change  no_of_workers  actual_productivity
146                   0           54.0             0.349951

C:\Users\LORE\AppData\Local\Temp\ipykernel_11540\972309527.py:19: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '4567.460317460317' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  datos.loc[146, "over_time"] = media_over_time

In [ ]:
#Guardar los nuevos datos en un archivo excel 
data= "data nuevo.xlsx"
datos.to_excel(data, index=False)